*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.cards {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  /* z-index: 0; */
}
.dog-card__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.dog-card {
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}
.dog-card:hover {
  transform: scale(1.1);
}
.dog-card__img-container {
  /* height: 100%;
  width: 100%; */
}
.dog-card__dog-name {
  text-align: center;
}
.card-details__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 2rem; */
}
.layer {
  background-color: rgba(219, 229, 229, 0.857);
  width: 100%;
  height: 100%;
}
.card-details {
  display: flex;
  width: 70%;
  height: 60%;
  /* border-radius: 15px; */
}
.card-details_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.card-details_img__container {
  width: 50%;
  height: 100%;
}
.card-details__content {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 50%;
  border-radius: 0 15px 15px 0;
  position: relative;
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px;
  font-size: 1.5rem;
  background-color: rgba(180, 139, 89, 0.277);
  border-radius: 10px;
}

.btn-close {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-close:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
/* loading */
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
}
@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-details {
    width: 95%;
  }
}
