@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&family=Rubik+Gemstones&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Kanit", sans-serif;
  color: rgba(0, 0, 0, 0.67);
}

/* banner */
.banner {
  height: 5rem;
  width: 100%;
  background-image: url(./banner.jpg);
  /* background-repeat: repeat; */
  background-size: cover;
  background-position: bottom;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.btn-more:hover {
  transform: scale(1.1) rotate(-4deg);
}
.btn-more {
  background-image: url(./foot.png);
  height: 4rem;
  width: 4rem;
  background-position: center;
  background-size: 4rem 4rem;
  border: none;
  border-radius: 50%;
  /* position: fixed; */
}

/* main cards */
.main-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.cards {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  /* z-index: 0; */
}
.dog-card__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.dog-card {
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}
.dog-card:hover {
  transform: scale(1.1);
}
.dog-card__img-container {
  height: 100%;
  width: 100%;
}
.dog-card__dog-name {
  text-align: center;
}

/* details card */
.card-details__container {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 5rem;
  height: 100%;
  width: 100vw;
  /* top: 2rem; */
}
.title {
  font-size: larger;
  font-weight: bolder;
  padding-right: 0.6rem;
  color: rgb(41, 98, 98);
}
.layer {
  background-color: rgba(219, 229, 229, 0.857);
  /* width: 100%;
  height: 100%; */
}
.card-details {
  display: flex;
  width: 70%;
  height: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border-radius: 15px; */
}
.card-details_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.card-details_img__container {
  width: 50%;
  height: 100%;
}
.card-details__content {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 50%;
  border-radius: 0 15px 15px 0;
  position: relative;
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px;
  font-size: 1.5rem;
  background-color: rgba(180, 139, 89, 0.277);
  border-radius: 10px;
}

/* loading */
.loading {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: absolute;
  /* background-color: white; */
  top: 0;
  bottom: 0;
  background-image: url(./loading.gif);
  background-position: center;
  background-size: cover;
}

.loading-text {
  position: relative;
  top: 30%;
}
@media (max-width: 1200px) {
  .cards {
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 900px) {
  .main-container {
    height: auto;
    padding-top: 2rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-details {
    height: 50vh;
    width: 80%;
  }
  .loading {
    background-image: none;
  }
  .loading-text {
    position: static;
  }
  .card-details__content {
    font-size: smaller;
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-details {
    width: 95%;
    height: 40%;
  }
  .card-details__content {
    gap: 5px;
    font-size: small;
  }
  .close {
    padding: 2px;
    font-size: small;
    border-radius: 5px;
  }
}
